<?xml version="1.0" encoding="utf-8"?>
<torrent-search-config>
  <min_size_value type="int">350</min_size_value>
  <min_size_unit type="string">MB</min_size_unit>
  <min_size_enable type="bool">false</min_size_enable>
  <stop_search_when_nb_results_reaches_enabled type="bool">false</stop_search_when_nb_results_reaches_enabled>
  <window_width type="int">1022</window_width>
  <after_date_enable type="bool">false</after_date_enable>
  <config_dialog_height type="int">400</config_dialog_height>
  <last_version_notified type="string"></last_version_notified>
  <hide_zero_seeders type="bool">true</hide_zero_seeders>
  <torrent_standard_app type="string">transmission-gtk.desktop</torrent_standard_app>
  <check_plugins_updates type="bool">true</check_plugins_updates>
  <max_size_value type="int">1</max_size_value>
  <max_size_enable type="bool">true</max_size_enable>
  <before_date type="string">2016-02-25</before_date>
  <search_history type="string_list">
  </search_history>
  <disabled_plugins type="string_list">
    <item>000019_xtremespeeds</item>
    <item>000024_tntvillage</item>
    <item>000017_MononokeBT</item>
    <item>000028_bakabt</item>
    <item>000012_torrent411</item>
    <item>000029_frenchtorrentdb</item>
  </disabled_plugins>
  <max_size_unit type="string">GB</max_size_unit>
  <stop_search_when_nb_plugin_results_reaches_value type="int">100</stop_search_when_nb_plugin_results_reaches_value>
  <stop_search_when_nb_plugin_results_reaches_enabled type="bool">true</stop_search_when_nb_plugin_results_reaches_enabled>
  <window_y type="int">72</window_y>
  <window_x type="int">-33</window_x>
  <window_maximized type="bool">true</window_maximized>
  <filter_duplicates type="bool">true</filter_duplicates>
  <sort_column type="int">5</sort_column>
  <stop_search_when_nb_results_reaches_value type="int">100</stop_search_when_nb_results_reaches_value>
  <torrent_save_folder type="string">/home/eduardo/Descargas</torrent_save_folder>
  <after_date type="string">2016-02-25</after_date>
  <config_dialog_width type="int">444</config_dialog_width>
  <torrent_custom_app type="string">/home/eduardo/bin/torrent-peerflix</torrent_custom_app>
  <name_does_not_contain type="string"></name_does_not_contain>
  <torrent_mode type="string">use_custom_app</torrent_mode>
  <search_options_expanded type="bool">false</search_options_expanded>
  <sort_desc type="bool">true</sort_desc>
  <window_height type="int">547</window_height>
  <dont_show_new_version_again type="bool">false</dont_show_new_version_again>
  <max_sim_downloads type="int">3</max_sim_downloads>
  <name_contains type="string"></name_contains>
  <only_exact_phrase type="bool">false</only_exact_phrase>
  <download_manager_width type="int">290</download_manager_width>
  <only_all_words type="bool">true</only_all_words>
  <before_date_enable type="bool">false</before_date_enable>
  <converted_from_gconf type="bool">false</converted_from_gconf>
  <confirmed_plugins type="string_list">
    <item>000028_bakabt</item>
    <item>000012_torrent411</item>
    <item>000029_frenchtorrentdb</item>
    <item>000017_MononokeBT</item>
    <item>000019_xtremespeeds</item>
    <item>000024_tntvillage</item>
  </confirmed_plugins>
</torrent-search-config>
