[Desktop Entry]
Version=1.0
Name=Buscar Historiestas
Comment=Buscas historietas
TryExec=torrent-buscar-gtk
Exec=torrent-buscar-gtk Comic
Icon=gwibber
StartupNotify=true
Type=Application
