[Desktop Entry]
Name=Correo Electrónico
Comment=Envia y recibi correos
Keywords[cs]=email;e-mail;mail;pošta;e-pošta;
Keywords[da]=Email;E-mail;Mail;Post;
Keywords[de]=Email;E-Mail;Mail;
Keywords[el]=μήνυμα;ηλεκτρονικό ταχυδρομείο;αλληλογραφία;Email;E-mail;Mail;
Keywords[en_GB]=Email;E-mail;Mail;
Keywords[es]=email;e-mail;correo electrónico;correo-e;
Keywords[eu]=posta;helb.elek;helb.el.;
Keywords[fa]=Email;E-mail;Mail;
Keywords[fi]=Email;E-mail;Mail;Sähköposti;Maili;
Keywords[fr]=Email;E-mail;Messagerie;Courriels;
Keywords[gl]=Correo electrónico;Correo-e;Correo;
Keywords[he]=דוא״ל;דואר אלקטרוני;דואר;
Keywords[hr]=Epošta;E-pošta;Pošta;
Keywords[hu]=Email;E-mail;Levél;
Keywords[id]=Surel;Surat;Email;E-mail;
Keywords[it]=Email;E-mail;Mail;Posta;
Keywords[lt]=Paštas;Paštas;Paštas;
Keywords[ms]=Emel;E-mel;Mel;
Keywords[nb]=E-post;E-brev;
Keywords[nl]=Email;E-mail;Mail;
Keywords[pl]=Email;E-mail;Mail;Poczta;Skrzynka;Wiadomość;Wiadomości;mejl;majl;
Keywords[pt]=Email;E-mail;Mail;
Keywords[pt_BR]=Email;E-mail;Mail;Correio eletrônico;e-mails;mensagens;
Keywords[ro]=Email;E-mail;Mail;Poștă;Electronică;
Keywords[sl]=Epošta;E-pošta;Pošta;
Keywords[sr]=пошта;електронска пошта;ел. пошта;
Keywords[sr@latin]=pošta;elektronska pošta;el. pošta;
Keywords[sv]=Email;E-mail;Mail;Epost;E-Post;
Keywords[uk]=Пошта;Лист;
Keywords[zh_CN]=Email;E-mail;Mail;电子邮件;邮件;邮箱;
Keywords[zh_TW]=Email;E-mail;Mail;電子郵件;電郵;郵件;信件;收信;寄信;
Icon=geary
TryExec=geary
Exec=geary %U
Type=Application
Terminal=false
Categories=GNOME;GTK;Network;Email;
MimeType=x-scheme-handler/mailto;
StartupNotify=true
Actions=Compose;

[Desktop Action Compose]
Name=Compose Message
Name[ar]=اكتب رسالة جديدة
Name[ca]=Redacta un missatge
Name[cs]=Napsat zprávu
Name[da]=Skriv besked
Name[de]=Nachricht verfassen
Name[el]=Σύνθεση μηνύματος
Name[en_CA]=Compose Message
Name[en_GB]=Compose Message
Name[eo]=Verki mesaĝon
Name[es]=Redactar mensaje
Name[et]=Koosta uus kiri
Name[eu]=Prestatu mezua
Name[fa]=ارسال ایمیل
Name[fi]=Lähetä viesti
Name[fr]=Écrire un message
Name[gl]=Redactar unha mensaxe
Name[he]=יצירת הודעה
Name[hr]=Pisanje poruke
Name[hu]=Levél írása
Name[id]=Susun Pesan
Name[it]=Componi messaggio
Name[ja]=メッセージを作成
Name[km]=តែង​សារ
Name[lt]=Rašyti žinutę
Name[ms]=Gubah Mesej
Name[nb]=Skriv melding
Name[nl]=Bericht opstellen
Name[pl]=Utwórz wiadomość
Name[pt]=Escrever mensagem
Name[pt_BR]=Escrever mensagem
Name[ro]=Compune un mesaj
Name[ru]=Создать сообщение
Name[sk]=Napísať správu
Name[sl]=Sestavi sporočilo
Name[sr]=Саставите поруку
Name[sr@latin]=Sastavite poruku
Name[sv]=Skriv meddelande
Name[te]=సందేశాన్ని సృష్టించండి
Name[tr]=İleti oluştur
Name[uk]=Скласти лист
Name[vi]=Soạn tin nhắn
Name[zh_CN]=撰写邮件
Name[zh_TW]=編撰訊息
Exec=geary mailto:
OnlyShowIn=X-Messaging Menu;Unity;

